<template>
    <ion-page>
        <ion-header :translucent="true">
            <ion-toolbar>
                <ion-title><a class="back-button" @click="$router.go(-1)">&#8592;</a> <span>BVG Verkehrsmeldungen</span></ion-title>
            </ion-toolbar>
            
        </ion-header>

        <ion-content :fullscreen="true">
                <div class="content">
                <h6>Linie</h6>
                <p><img class="transport-type" :src=getTransportImageLink($route.query.verkehrsmittel)>{{ $route.query.linie }}</p>
                <h6>Richtung</h6>
                <p>{{ $route.query.richtungName }}</p>
                <h6>zwischen</h6>
                <p>{{ $route.query.beginnAbschnittName }}</p>
                <h6>und</h6>
                <p>{{ $route.query.endeAbschnittName }}</p>
                <h6>Ursache</h6>
                <p>{{ $route.query.textIntUrsache }}</p>
                <h6>Auswirkung</h6>
                <p>{{ $route.query.textIntAuswirkung }}</p>
                <h6 v-if="$route.query.sev">SEV</h6>
                <p v-if="$route.query.sev">{{ $route.query.sev }}</p>
                <h6>Gültig von</h6>
                <p>{{ $route.query.gueltigVonDatum ? formatDate($route.query.gueltigVonDatum) : '' }} {{ $route.query.gueltigVonZeit ? formatTime($route.query.gueltigVonZeit) : '' }}</p>
                <h6 v-if="$route.query.gueltigBisDatum">Gültig bis</h6>
                <p v-if="$route.query.gueltigBisDatum">{{ $route.query.gueltigBisDatum ? formatDate($route.query.gueltigBisDatum) : '' }} {{ $route.query.gueltigBisZeit ? formatTime($route.query.gueltigBisZeit) : '' }}</p>
                <h6>Letzte Änderung</h6>
                <p>{{ $route.query.datum ? formatDate($route.query.datum) : '' }}</p>
            </div>
        </ion-content>
    </ion-page>
</template>

<script lang="ts">
import {
    IonContent,
    IonPage,
    IonToolbar,
    IonHeader,
    IonTitle,
} from '@ionic/vue';
import { defineComponent } from 'vue';
import moment from 'moment';

export default defineComponent ({
    name: 'Details',
    components: {
        IonContent,
        IonPage,
        IonToolbar,
        IonHeader,
        IonTitle,
    },
    methods: {
        formatDate(date: string){
            return date.includes('T') ? moment(date).format('DD.MM.YYYY hh:mm') : moment(date).format('DD.MM.YYYY')
        },
        formatTime(time: string){
            return moment(time, 'hh:mm:ss').format('hh:mm')
        },
        getTransportImageLink(type: number){
            if(type == 1) {
                return '../../assets/picto/bus.gif';
            } else if (type == 2) {
                return '../../assets/picto/ubahn.gif';
            } else if (type == 3) {
                return '../../assets/picto/tram.gif';
            } else if (type == 4){
                return '../../assets/picto/faehre.gif';
            } else {
                return '';
            }
        },
    }
});
</script>

<style>
.content {
    margin: 20px;
}

ion-title {
    display: flex;
    padding-left: 10px;
}

h6 {
    font-weight: bold;
    background: whitesmoke;
    padding: 10px 5px;
}

p {
    padding: 5px 5px;
}

.back-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin: -3px 15px;
}

.transport-type {
    margin-right: 5px;
    margin-top: 5px;
}
</style>