<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title><span class="reload" v-on:click="fetchData">&#8635;</span> BVG Verkehrsmeldungen </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="container">
      <ion-item class="message" v-if="loading">Die Daten werden geladen. Bitte warten. <ion-spinner slot="end"></ion-spinner></ion-item>
      <ion-item class="error" color="danger" v-if="error"><ion-label>{{ error }}</ion-label></ion-item>
      <div class="traffic-type-checkboxes" v-if="!loading">
        <div class="traffic-checkbox">
          <input type="checkbox" id="ubahn" :value=2 v-model="trafficFilter">
          <label for="ubahn"><img :src=getTransportImageLink(2) alt="U-Bahn"></label>
        </div>
        <div class="traffic-checkbox">
          <input type="checkbox" id="tram" :value=3 v-model="trafficFilter">
          <label for="tram"><img :src=getTransportImageLink(3) alt="Tram"></label>
        </div>
        <div class="traffic-checkbox">
          <input type="checkbox" id="bus" :value=1 v-model="trafficFilter">
          <label for="bus"><img :src=getTransportImageLink(1) alt="Bus"></label>
        </div>
        <div class="traffic-checkbox">
          <input type="checkbox" id="faehre" :value=4 v-model="trafficFilter">
          <label for="faehre"><img :src=getTransportImageLink(4) alt="Fähre"></label>
        </div>
      </div>
        <ion-list>
          <ion-item :key="item" v-for="item in data">
            <ion-label><img :src=getTransportImageLink(item.verkehrsmittel)> {{ item.linie }} {{ item.beginnAbschnittName }} &#8644; {{ item.endeAbschnittName }}<br>
              <router-link :to="{ name: 'Details', query: { 
                meldungsId: item.meldungsId,
                datum: item.datum,
                type: item.type,
                verkehrsmittel: item.verkehrsmittel,
                linie: item.linie,
                richtungName: item.richtungName,
                beginnAbschnittName: item.beginnAbschnittName,
                endeAbschnittName: item.endeAbschnittName,
                gueltigVonDatum: item.gueltigVonDatum,
                gueltigVonZeit: item.gueltigVonZeit,
                gueltigBisDatum: item.gueltigBisDatum,
                gueltigBisZeit: item.gueltigBisZeit,
                grundFahrplanAbweichung: item.grundFahrplanAbweichung,
                textIntUrsache: item.textIntUrsache,
                sev: item.sev,
                textIntAuswirkung: item.textIntAuswirkung
              }}">
                <div class="content">
                  <p>Von {{ formatDate(item.gueltigVonDatum) }} {{ formatTime(item.gueltigVonZeit) }}</p>
                  <p>Bis {{ item.gueltigBisDatum ? formatDate(item.gueltigBisDatum) : 'auf weiteres' }} {{ item.gueltigBisZeit ? formatTime(item.gueltigBisZeit) : '' }}</p>
                  <p>{{ item.textIntUrsache }}</p>
                </div>
              </router-link>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, 
         IonHeader, 
         IonPage, 
         IonTitle, 
         IonToolbar, 
         IonList, 
         IonLabel, 
         IonItem,
         IonSpinner,
          } from '@ionic/vue';
import { defineComponent } from 'vue';
import moment from 'moment';

const apiUrl = 'https://api-dev.bvg.de/verkehrsmeldungen';
const apikey = process.env.VUE_APP_API_KEY;

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonList,
    IonLabel,
    IonItem,
    IonSpinner,
  },
  data () {
    return {
      loading: false,
      error: null,
      data: [] as any[],
      originalData: [] as any[],
      trafficFilter: [1, 2, 3, 4]
    }
  },
  created () {
    this.fetchData();
  },
  watch: {
    // call again the method if the route changes
    /*'$route': 'fetchData'*/
    trafficFilter: function() {
      this.filterData();
    }
  },
  computed: {
    
  },
  methods: {
    async fetchData () {
      this.error = null;
      this.loading = true;
      try {
        const res = await fetch(apiUrl + '?apikey=' + apikey, {
        method: 'GET',
        headers: {
          'Accept': 'application/json',
        },
        keepalive: true
      });
      const data = await res.json();
      this.data = this.originalData = data;
      this.sortData();
      this.filterData();
      this.loading = false;
      } catch (error) {
        console.log(error)
        this.error = error;
        this.loading = false
      }
    },
    formatDate(date: string){
      return moment(date).format('DD.MM.YYYY')
    },
    formatTime(time: string){
      return moment(time, 'hh:mm:ss').format('hh:mm')
    },
    getTransportImageLink(type: number){
      if(type == 1) {
        return '../../assets/picto/bus.gif';
      } else if (type == 2) {
        return '../../assets/picto/ubahn.gif';
      } else if (type == 3) {
        return '../../assets/picto/tram.gif';
      } else if (type == 4){
        return '../../assets/picto/faehre.gif';
      } else {
        return '';
      }
    },
    sortData(){
      const itemOrder = [2, 3, 1, 4];
      this.data.sort((a, b) => (itemOrder.indexOf(a.verkehrsmittel) - itemOrder.indexOf(b.verkehrsmittel)) ? (itemOrder.indexOf(a.verkehrsmittel) - itemOrder.indexOf(b.verkehrsmittel)) : (a.verkehrsmittel === b.verkehrsmittel) ? ((a.linie > b.linie) ? 1 : -1) : -1 );
    },
    filterData(){
      this.data = [...this.originalData];
      if (this.trafficFilter.length < 4){
        this.data = this.data.filter((el) => {
          return this.trafficFilter.indexOf(el.verkehrsmittel) > -1;
        });
      } 
    }
  }
});
</script>

<style scoped>
ion-title {
    display: flex;
    padding-left: 10px;
}

#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 20px;
  
  color: #8c8c8c;
  
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container ion-spinner{
  margin: 0 10px;
}

#container img {
  display: inline;
  position: relative;
  margin: 5px 0 0 5px;
  width: 26px;
  height: 26px;
}

#container select {
  margin: 0 10px;
}

.traffic-type-checkboxes {
  display: flex;
  margin: 10px 20px;
}

.traffic-checkbox {
  margin: 0 10px;
}

.reload {
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin: -3px 15px;
}

</style>